# dont want to hit rate limit, need a seperate test that only runs on linux
name: Run Test cases

on: push


env:
  REMOTE_SELENIUM_KEY: ${{ secrets.REMOTE_SELENIUM_KEY }}
  REMOTE_SELENIUM_USERNAME: ${{ secrets.REMOTE_SELENIUM_USERNAME }}

jobs:
  build:
    runs-on: ubuntu-latest
    name: Dotnet Side by Side testing sample
    steps:
      - uses: actions/checkout@v2
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.101'
      - run: dotnet build ConScrap.Tests
      - run: dotnet test ConScrap.Tests --collect:"XPlat Code Coverage"
      - run: cp -R ConScrap.Tests/TestResults/**/*.xml .
      - uses: codecov/codecov-action@v1
        with:
          file: ./coverage.cobertura.xml # optional
          flags: unittests # optional
          verbose: true # optional (default = false)

      - uses: sarisia/actions-status-discord@v1
        if: failure()
        with:
          webhook: ${{ secrets.DISCORD_CODE_STATUS_WEBHOOK }}
          status: ${{ job.status }}
          title: ${{github.repository}}
          description: "Failed to Scan Run dli-invest/conscrap tests"
          nofail: false
          nocontext: false
          noprefix: false
          color: 0x0000ff
          username: GitHub Actions